<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tutorial Sample</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <h1>Tutorial Sample</h1>

  <div id="main"></div>

  <p>Start editing any of the following files and see what happens:</p>
  <ul>
    <li>app/index.html</li>
    <li>app/style/main.scss</li>
    <li>app/js/main.js</li>
  </ul>

  <p>Checkout some of the tutorials at <a href="http://www.alika.ch/tutorials" target="blank">Alika Analytics</a>.</p>
</body>
<script src="/js/bundle.js"></script>
</html>
